SECRET_KEY=wmwdsKsvvqCvdLaeV6uT3vR3EixzYTvohDRRLNe7F-0GgSbauovH8Ka1n3XpurpAVKI
DEBUG=True
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
STRIPE_API_KEY=sk_test_your-stripe-key
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Другие переменные окружения
STRIPE_API_KEY=ваш_stripe_api_key